<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
  <div class="container d-flex justify-content-center">
    <div class="card text-bg-light mb-3 border border-4" style="width: 30rem;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Sir_Tim_Berners-Lee.jpg/1200px-Sir_Tim_Berners-Lee.jpg" class="card-img-top" alt="팀버너스리 사진">
      <div class="card-body">
        <h5 class="card-title">팀 버너스리</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">1989년 월드 와이드 웹의 하이퍼텍스트 시스템을 고안하여 개발. 웹의 아버지</li>
        <li class="list-group-item">국적 - 영국</li>
        <li class="list-group-item">생년월일 - 1955년 6월 8일</li>
        <li class="list-group-item">직업 - 전산과학자, 프로그래머, 교수</li>
        <li class="list-group-item">출신 대학 - 옥스퍼드 대학교 물리학 학사</li>
      </ul>
      <div class="card-body text-end">
        <a href="https://ko.wikipedia.org/wiki/%ED%8C%80_%EB%B2%84%EB%84%88%EC%8A%A4%EB%A6%AC#:~:text=%ED%8C%80%20%EB%B2%84%EB%84%88%EC%8A%A4%EB%A6%AC%20%EA%B2%BD%20%28%20%EC%98%81%EC%96%B4%3A%20Sir%20Tim%20Berners-Lee%2C,%EA%B3%B5%EB%A1%9C%EB%A1%9C%20%EC%9B%B9%EC%9D%98%20%EC%95%84%EB%B2%84%EC%A7%80%20%EB%9D%BC%EA%B3%A0%20%EB%B6%88%EB%A6%AC%EB%8A%94%20%EC%9D%B8%EB%AC%BC%20%EC%A4%91%20%ED%95%98%EB%82%98%EC%9D%B4%EB%8B%A4." class="btn btn-outline-secondary btn-sm ms-5">추가정보</a>
        <!-- <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>  
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>